@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

/* PARTE DO HEADER */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

header img {
    height: 72px;
}

header nav {
    display: flex;
    gap: 32px;
}

header nav a {
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 18px;
}

/* PARTE DO CONTEUDO PRINCIPAL */
main {
    border-top: 0.4px solid #fff2e7;
    margin-bottom: 48px;
}

main .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

main .content div {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

main .content div h1 {
    font-family: 'Righteous', cursive;
    color: #fff2e7;
    font-weight: 400;
    font-size: 64px;
}

main .content div h2 {
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 400;
    font-size: 24px;
}

main .content div button {
    background-color: #ECD6C4;
    width: 180px;
    height: 60px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Sarala', sans-serif;
    color: #2F2325;
    font-weight: 400;
    font-size: 24px;
}

main .content div button:hover {
    background-color: rgba(236, 214, 196, 0.53);
}

main .content img {
    height: 430px;
}

main .paragraph {
    margin-top: 48px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

main .paragraph h3 {
    border-top: 0.4px solid #fff2e7;
    padding-top: 48px;
    margin-bottom: 16px;
    
    font-family: 'Righteous', cursive;
    color: #fff2e7;
    font-weight: 400;
    font-size: 24px;
}

main .paragraph p {
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 300;
    font-size: 18px;
}

/* PARTE DO RODAPÉ */
footer {
    padding: 32px;
    border-top: 0.4px solid #fff2e7;
}

footer img {
    height: 48px;
    display: block;
    margin: 0 auto;
}